$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.menubar {
  padding: 10px;
}

.topSection {
  background: #3a3a3a;
  border-bottom: 1px solid #1a1a1a;
}

#paletteContainer {
  padding: 50px;
  background: #2a2a2a;
  border-right: 1px solid #1a1a1a;
  box-shadow: inset #222222 -1px 0px 2px;

  #palette {
    background: url('../images/bg.jpg');
    line-height: 0;
    display: inline-block;
  }

  table {
    box-shadow: #000000 0px 1px 4px;
    tr {
      td {
        height: 10px !important;
        width: 10px !important;
        //background-image: url('../images/bg.jpg');
        border: 1px solid #BBBBBB;
      }
    }
  }
}


// Code Snippet
  #snippet {
    background: #FAFAFA;
    border: 1px solid #EAEAEA;
    border-radius: 3px;

    font-size: 10px;

    width: 100%;
    height: 200px;
    margin-top: 10px;
    overflow: scroll;
  }

// Colors
  #swatches {
    padding: 20px;
    background: #3a3a3a;
  }


  .swatch {
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;

    float: left;

    border-color: transparent;
    border-width: 1px;
    border-style: solid;

    display: inline-block;

    // Erase
    &[data-color="transparent"] { background: url('../images/bg.jpg'); }

    // Grayscale
    &[data-color="000000"] { background: #000000; }
    &[data-color="595f68"] { background: #595f68; }
    &[data-color="848c96"] { background: #848c96; }
    &[data-color="ffffff"] { background: #ffffff; border-color: #CCCCCC; }

    // Yellows
    &[data-color="dcc285"] { background: #dcc285; }
    &[data-color="ffff00"] { background: #ffff00; }

    // Reds
    &[data-color="934a4a"] { background: #934a4a; }
    &[data-color="ff2c2c"] { background: #ff2c2c; }
    &[data-color="db8494"] { background: #db8494; }

    // Greens
    &[data-color="2cff2c"] { background: #00ff33; }

    // Blues
    &[data-color="4a2cff"] { background: #4a2cff; }

    &:hover {
      cursor: cell;
    }
  }

  #selectedSwatch {
    height: 60px;
    width: 60px;
    margin-bottom: 10px;

    background: #000000;
    border: 1px solid #1a1a1a;
  }
